/*Includes ul elements */
/* Button up */
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
/* Button visited */
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
	background-color: 			#4F4F4E/*{b-bup-background-color}*/;
	border-color:	 		#1f1f1f /*{b-bup-border}*/;
	border-width: 1px; 
	color: 			#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #111 /*{b-bup-shadow-color}*/;
	margin: -1em 0px 0px -20px; 
	border-radius: 1px;
	border-bottom: .5px;
}

#mypanel { 
	position:fixed; 
}

nav { 
	margin-top: 50px; 
}

.ui-header .ui-title { 
	text-align: left; 
	background-color: #333;
}

p { 
	display: block;
	font-weight: normal;
	text-overflow: ellipsis; 
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: #fff;
	line-height: 24px;
	text-align: left;
	outline: 0 !important; 
	background-color: #a8a8a6;
	width = auto;
}

h1 { 
	background-color:#333;
	margin: 0px;
	padding: 0px;
	display: block;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: #fff;
	line-height: 24px;
	text-align: left;
	border-color: #333;
}

.ui-header .ui-title, .ui-footer .ui-title {
font-size: 1em;
min-height: 1.1em;
text-align: center;
display: block;
margin: 0; 
padding: .7em 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
outline: 0 !important;
}

.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
background-color: #B2B2B0 /*{b-page-background-color};
color: #fff /*{b-page-color}*/;
text-shadow: 0 /*{b-page-shadow-x}*/ 1px /*{b-page-shadow-y}*/ 0 /*{b-page-shadow-radius}*/ #111 /*{b-page-shadow-color}*/;
}

.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
top: 10px;
margin: 2px;
padding: 0;
border: 4px;
float: left;
min-height: 1px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
